<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Signup</title>
    <style>
    body{
        background-image:url("https://ak.picdn.net/shutterstock/videos/10187165/thumb/3.jpg");
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-size: cover;
        }
        .jumbotron{
            position:absolute;
            bottom:0;
            left:0;
            }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Sign Up Page</h1>
    </div>
    <div class="content">

    <form action="{{ url_for('loginredirect') }}" method="post">

        <div class="form-group">
            <label class="control-label col-sm-2" for="username">Username:</label>
            <div class="col-sm-10">
                <input type="text" id="username" placeholder="Username" name="username">
            </div>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
                <input type="password" id="pwd" placeholder="Password" name="password">
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="conpwd">Confirm Password:</label>
            <div class="col-sm-10">
                <input type="password" id="conpwd" placeholder="Confirm Password" name="confirmpassword">
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email-id:</label>
            <div class="col-sm-10">
                <input type="text" id="email" placeholder="Email id" name="email">
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-info" value="submit">
            </div>
        </div>
        <br>
        <p class="text-danger">{{message}}</p>

    </form>
    </div>
    <div class="jumbotron">
        <a href="{{url_for('login')}}">Login Page</a>
        <br>
        <p><b><i>Welcome</i></b> to <mark>BOOK'SVIEW</mark>, this site helps in viewing book's review and posting reviews.The site works with <a href = "https://www.goodreads.com/api">https://www.goodreads.com/api </a>,this site helps us in getting books review.This site has its own api just use get request for /api/isbn where isbn is isbn number of the book. </p>
    </div>
</div>
</body>
</html>